{% extends 'accounts/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
   <!------------banner section-------------->
   <section id="banner">
       <div class="container">
           <div class="rows">
               <div class="col-md-8">
                   <p class="homepage">Huayang Berhad Filing Management</p>
                   
               </div>
           </div>
       </div>
   </section>

   <!----Services section----->
   <section id="services">
       <div class="container text-center">
            <h1 class="message">Welcome, {{ user.username }}!</h1>
       </div>
       <div class="container mt-40" style="margin-left:400px">
           <div class="row mt-30">
               <div class="col-md-4 col-sm-6">
                   <div class="box8">
                       <img src="../../static/accounts/document.png" class="image1">
                       <div class="overlay">
                       <div class="text1">
                           <a href="{% url 'recordmgnts:records' %}">Document Records</a>
                           <h4>To find and locate containers</h4>
                       </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-4 col-sm-6">
                   <div class="box8">
                       <img src="../../static/accounts/mail.png" class="image1">
                       <div class="overlay">
                       <div class="text1">
                           <a href="#">Mailing System</a>
                           <h4>To keep track of mailings</h4>
                       </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
{% endblock content %}