<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            background: #fafafa;
            color: #333333;
            margin-top: 8rem;
         }

        h1, h2, h3, h4, h5, h6 {
            color: #444444;
         }

         .login-form {
		    width: 340px;
    	    margin: 75px auto;
	    }
    </style>
    <title>Login</title>
</head>
<body>

<div class="login-form">
        <div class="jumbotron" style="padding-top:40px">
            <div class="border-bottom mb-4"><h2 style="text-align:center">Login</h2></div>
            <div class="col-mb-4">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <small class="text-muted">{{ message }}</small>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <label for="in_username" style="text-align:left"><b>Username:</b></label>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="in_username" required>
                </div>
                <label for="in_password" style="text-align:left"><b>Password:</b></label>
                <div class="form-group" style="text-align:right">
                    <input type="password" name="password" class="form-control" id="in_password" required>
                    <small class="text-muted"><a class="ml-2" href="#">Forgot password?</a></small>
                </div>
                <button class="btn btn-outline-success form-control" type="submit">Login</button>
            </form>
            <div class="border-top pt-3" style="text-align:center">
                <small class="text-muted">Need an account? <a class="ml-2" href="#">Sign up</a></small>
            </div>
        </div>
    </div>




</body>
</html>