{% extends 'accounts/base.html' %}
{% block title %} {{ user.username }}-Profile {% endblock title %}
{% block content %}


<section id="services">
    <div class="col-md-8 col-sm-6 container-left jumbotron">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <small class="text-muted">{{ message }}</small>
        </div>
        {% endfor %}
        {% endif %}
        <div id="headers">
            <div class="row">
            <div class="col">
            <h1>{{user.get_full_name}}</h1>
            </div>
            <div class="col" style="text-align:right">
                <a href="#">Update info</a><br>
                <a href="{% url 'accounts:password_change' %}">Change password</a>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <p><b>Username: </b>{{ user.username }}</p>
            </div>
            <div class="col">
                <p><b>Email: </b>{{ user.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><b>Company: </b>{{ user.companyId }}</p>
            </div>
            <div class="col">
                <p><b>Contact: </b>{{ user.contact }}</p>
            </div>
        </div>
        <p><b>Branch: </b>{{ user.branchId }}</p>
        <p><b>Department: </b>{{ user.departmentId }}</p>
    </div>
</section>
{% endblock content %}