{% extends 'accounts/base.html' %}
{% block title %} eDCMS-{{ user.username }}{% endblock title %}
{% block content %}
<div class="content-section" style="margin-top:80px">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="jumbotron container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible text-center col-md-5" style="margin:0 auto" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <small class="text-muted">{{ message }}</small>
        </div>
        {% endfor %}
        {% endif %}
                <div class="dropdown show">
                    <h1>{{ user.get_full_name }}
                    <a class="small dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black">
                    </a>
                    <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'accounts:profile_update' %}"><i class="fa fa-edit"></i> Update profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:password_change' %}"><i class="fa fa-key"></i> Change password</a>
                    </span>
                    </h1>
                </div>
                <hr>
        <div class="row" id="display-text">
            <div class="col">
                <p><b>Username: </b>{{ user.username }}</p>
                <p><b>Company: </b>{{ user.company }}</p>
                <p><b>Branch: </b>{{ user.branch }}</p>
                <p><b>Department: </b>{{ user.department }}</p>
            </div>
            <div class="col">
                <p><b>Email: </b>{{ user.email }}</p>
                <p><b>Contact: </b>{{ user.contact }}</p>
				<p><b>Superior: </b>{% if user.supervisor is not None %}{{ user.supervisor }} {% else %} - {% endif %} </p>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}