{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .input-group.is-invalid {
  ~ .invalid-feedback {
    display: none;
  }
}
</style>
<div class="content-section" style="margin-top:80px">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card jumbotron">
            <div class="border-bottom mb-4"><h2 style="text-align:center">Create an account</h2></div>
                </header>
            <article class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <b>{{ field.label_tag }}</b>
                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button class="btn btn-outline-success form-control" type="submit" style="margin-top:20px">Sign Up</button>
            </form>

        </article>

            <div class="border-top pt-3" style="text-align:center">
                <p class="text-muted">Have an account? <a class="ml-2" href="{% url 'accounts:login' %}">Login</a></p>
            </div>
</div>
</div>
 </div>
</div>

{% endblock content %}