{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}Password change{% endblock %}

{% block content %}

<div class="container jumbotron" style="margin-top:80px">
        <h1>Password change</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <b>{{ field.label_tag }}</b>
            {% if form.is_bound %}
            {% if field.errors %}
            {% render_field field class="form-control is-invalid col-md-6" %}
            {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
            {% else %}
            {% render_field field class="form-control col-md-6" %}
            {% endif %}
            {% else %}
            {% render_field field class="form-control col-md-6" %}
            {% endif %}
        {% endfor %}
        <button class="btn btn-outline-info form-control col-md-4" type="submit" style="margin-top:10px">Change password</button>
    </form>
</div>

{% endblock %}