*{
    margin: 0;
    padding: 0;
}

.asteriskField {
    display: none;
}

body{
    font-family: sans-serif;
    background: #fafafa;
    color: #333333;
    margin-top: 8rem;
}

#nav-bar{
    position: sticky;
    top: 0;
    Z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #ECECEB,#DBDBDA);
    padding: 0 !important;
}
.navbar-brand img{
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;

}

.navbar-nav li a{
    color: #000000 !important;
    font-weight: 600;
}

.fa-bars{
    color: #000000;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}


.login-form {
    width: 340px;
    margin: 75px auto;
    }

/*-----------banner section---------------*/

#banner{
    background-image: linear-gradient(to right,#ba4b17,#ba4b17);
    color: #000000;
    padding-top:0%;
}

.homepage{
    font-size: 40px;
    font-weight:600;
    margin-top: 20px;
}

/*------services section------*/

#services{
    padding: 80px 0;
}

.services{
    padding: 50px;
}
.button1{
    padding: 80px 0;
    width: 300px;
    height: 150px;
    text-transform: uppercase;
}
.button1 div{
    font-size: 2em;
    padding-top: 35px;

}
.services h4{
    padding-top: 30px;
}

.message::before{
    content:'';
    background: #000000;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.message::after{
    content:'';
    background: #000000;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/*-----record/table-----*/
#cont-table{
    margin-top: 100px;
    margin-left: 30px;
}

.t01{
    margin: 20px;
    text-align: center;
}

/*-----footer------*/
#footer{
    background-image: linear-gradient(to right, #ECECEB,#C7C6C2);
    /*padding: 70px;*/
    position: sticky;
    margin-top: 70px;
    height: 120px;
}

.footer-box img{
    width: 120px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: -70px;
}

/*-----footer------*/
.image1 {
  display: block;
  width: 100%;
  height: auto;
  radius:50%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.box8:hover .overlay {
  height: 100%;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.box8 {
  position: relative;
  width: 100%;
}