{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% block title %}eDCMS-Edit Documents{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<head>
       {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding:30px">
            {% for message in messages %}
<!--                {% if message.tags %}-->
<!--                    class="{{ message.tags }}"-->
<!--                {% endif %}-->
                <h2 class="alert-heading">{{ message }}</h2>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
            </div>
        {% endif %}
</head>
<body>
<div class ="container" style="margin-top:30px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'recordmgnts:records' %}">Records</a></li>
        <li class="breadcrumb-item active">Edit container</li>
    </ol>
</div>
<div class="container" style="margin-top:30px">
<form method="POST" id="contForm" data-bays-url="{% url 'recordmgnts:ajax_load_locations' %}" novalidate>
    {% csrf_token %}
        <div class="form-row align-items-center">
              <div class="form-group col-md-8 mb-0">
                {{ form.container_serial_number|as_crispy_field }}
              </div>
        </div>
            {{ form.container_description|as_crispy_field }}
            {{ form.warehouse|as_crispy_field }}
        <div class="form-row">
              <div class="form-group col-md-4 mb-0">
                {{ form.bay|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.row|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.column|as_crispy_field }}
              </div>
        </div>
<!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info col-md-2" data-toggle="modal" data-target="#addDoc" >Update</button>
</form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_warehouse").change(function(){
            var url = $("#contForm").attr("data-bays-url");
            var warehouseId =$(this).val();
            $.ajax({
                url: url,
                data: {
                'warehouse': warehouseId
                },
                success: function(data){
                    $("#id_bay").html(data);
                }
            });

        });
    </script>
</div>
    <!-- Modal -->
 <div class="modal fade" id="addDoc" role="dialog" >
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Update?</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Please press 'Save Changes' to update.</p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-success" id="confirmUpdateButtonModal" value="Save Changes"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
 </div>
<script type="text/javascript">
    window.onload = function(){
        document.getElementById('confirmUpdateButtonModal').onclick = function(event){
            document.getElementById('contForm').submit();
        }
    }
</script>
</body>

{% endblock content %}