{% extends 'accounts/base.html' %}
{% block title %}eDCMS-Document Details{% endblock title %}
{% block content %}


<div class="container-centre col-md-6 col-sm-6" >
    <div class = "jumbotron">
    <h1 style="border-bottom:1px solid black">Container Details</h1>
    <p><b>Container Serial Number: </b>{{ object.container_serial_number }}</p>
    <p><b>Container Description: </b>{{ object.container_description }}</p>
    <p><b>Status: </b>{{ object.status |yesno:"In,Out"}}</p>
    <p><b>Created by: </b>{{ object.created_by }}</p>
    <p><b>Created date: </b>{{ object.created_date }}</p>
    <p><b>Modify by: </b>{{ object.modify_by }}</p>
    <p><b>Modify Date: </b>{{ object.modify_date }}</p>
    <p><b>Warehouse: </b>{{ object.warehouse }}</p>
    <p><b>Location ID: </b>{{ object.bay }}</p>
    </div>
    <button class="btn btn-info" onclick="window.location.href='{% url 'recordmgnts:records' %}';">Back</button>

</div>
{% endblock content %}