{% extends 'accounts/base.html' %}
{% block title %}eDCMS-Documents View{% endblock title %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-sm-6 col-md-8" style="margin-top:25px">
                <h2>Search</h2>
                <div class="search-bar">
                <form method="GET" action="{% url 'recordmgnts:container_search' %}">
                        <input type="text" name="q" class="col-md-4 col-sm-4" placeholder="Search"/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
            </div>
        </div>
    <!---Container table--->
        <div class="row">
            <div class="col align-self-center">
                <button class="btn btn-info" style="float:right;margin-top:30px" onclick="window.location.href='{% url 'recordmgnts:new_container' %}';"><i class="fa fa-pencil"></i>  Add </button>
                <div class="table-responsive">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info alert-dismissible text-center col-md-4" role="alert" style="margin:0px auto">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <small class="text-muted">{{ message }}</small>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h3>Container</h3>
                     <table class="table table-hover table-bordered table-condensed">
                        <tr>
                            <th> Container Serial Number </th><th> Container Description </th><th> Status </th><th> Created by </th><th> Created date </th><th> Modify by </th><th> Modify Date </th><th> Warehouse </th><th> Location ID </th><th> Modify </th><th> Delete </th><th> View </th>
                        </tr>
                         {% for Container in allContainer %}
                         <div id="delModal" class="modal fade" role="dialog" caller-id="">
                             <div class="modal-dialog">

                                 <!-- Modal content-->
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h4 class="modal-title">Delete</h4>
                                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     </div>
                                     <div class="modal-body">
                                         <p>Are you sure you want to delete this container?</p>
                                     </div>
                                     <div class="modal-footer">
                                         <button class="btn btn-danger" id="confirmDeleteButtonModal">Delete</button>
                                         <button type="button" class="btn btn" data-dismiss="modal">Cancel</button>
                                     </div>
                                 </div>

                             </div>
                         </div>
                         <tr>
                             <td>{{ Container.container_serial_number }}</td><td>{{ Container.container_description }}</td><td>{{ Container.status|yesno:"In,Out" }}</td><td>{{ Container.created_by }}</td><td>{{ Container.created_date }}</td><td>{{ Container.modify_by }}</td><td>{{ Container.modify_date }}</td><td>{{ Container.warehouse }}</td><td>{{ Container.bay }}-{{ Container.row }}-{{ Container.column }}</td>
                             <td><button class="btn btn-outline-info" onclick="window.location.href='{% url 'recordmgnts:edit_records' Container.id %}';">Modify</button></td>
                             <td><button href="{% url 'recordmgnts:container_delete' id=Container.id %}" id="{{Container.id}}" class="btn btn-outline-info confirm-delete" data-toggle="modal" data-target="#delModal">Delete</button></td>
                             <td><button class="btn btn-outline-info" onclick="window.location.href='{% url 'recordmgnts:container_view' Container.id %}';">View</button></td>
                         </tr>
                         {% endfor %}
                         <script>
                             $(document).on('click', '.confirm-delete', function () {
                                $("#delModal").attr("caller-id", $(this).attr("id"));
                             });

                             $(document).on('click', '#confirmDeleteButtonModal', function () {
                                var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
                                window.location = $("#".concat(caller)).attr("href");
                              });
                         </script>
                     </table>

                </div>
                    {% if allContainer.has_other_pages %}
                        <nav aria-label="Search result pages">
                          <ul class="pagination justify-content-center" style="margin-top:30px">
                            {% if allContainer.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ allContainer.previous_page_number }}">Previous</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Previous</a></li>
                            {% endif %}
                            {% for i in allContainer.paginator.page_range %}
                              {% if allContainer.number == i %}
                                <li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if allContainer.has_next %}
                              <li class="page-item"><a class="page-link" href="?page={{ allContainer.next_page_number }}">Next</a></li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Next</a></li>
                            {% endif %}
                          </ul>
                        </nav>
                    {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock content %}