{% extends 'accounts/base.html' %}
{% block content %}
<div class ="container" style="margin-top:30px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'recordmgnts:records' %}">Records</a></li>
        <li class="breadcrumb-item"><a href="{% url 'recordmgnts:new_container' %}">New container</a></li>
        <li class="breadcrumb-item active">Added</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col">
                <h1>Added successfully!</h1>
            <div class="container" style="margin-top:30px">
                <h4 style="margin-bottom:25px;">You have added new container.</h4>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'recordmgnts:records' %}';">Return to records</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'recordmgnts:new_container' %}';">Add another record</button>
                </div>
        </div>
    </div>
</div>

{% endblock content %}