{% extends 'accounts/base.html' %}
{% block title %}eDCMS-Document Transaction History{% endblock title %}
{% block content %}


<div class="container-fluid" style="margin-top:30px;" >
    <div class="row">
        <div class="col align-self-center">
            <div class="table-responsive">
                <h3 style="margin-bottom:30px;">Transaction History</h3>
                {% if order_header %}
                <table class="table table-hover table-bordered table-condensed">
                    <tr>
                        <th> Document Code </th><th> Document Type </th><th> Created Date </th>
                    </tr>
                    {% for transaction in order_header %}
                    <tr>
                        <td><a href="{% url 'recordmgnts:order_transaction_details_view' transaction.id %}">{{ transaction.doc_serial_number }}</a></td>
                        <td>{{ transaction.doc_type }}</td>
                        <td>{{ transaction.created_date|date:"d/m/Y" }}, {{ transaction.created_date|time:"h:i A" }}</td>
<!--                        <td><button class="btn btn-outline-info" onclick="window.location.href='#'">View</button></td>-->
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h4 style="margin-top:25px; margin-bottom:20px">No transaction has been made.</h4>
                <button class="btn btn-info" onclick="window.location.href='{% url 'accounts:home' %}'">Back</button>
                {% endif %}

                {% if order_header.has_other_pages %}
                <nav aria-label="Search result pages">
                    <ul class="pagination justify-content-center">
                        {% if order_header.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ order_header.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Previous</a></li>
                        {% endif %}
                        {% for i in order_header.paginator.page_range %}
                        {% if order_header.number == i %}
                        <li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if order_header.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ order_header.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}